
{% extends "index.html" %}

{% block encabezado %}
  {% include "components/header.html"%}
{% endblock %}

{% block menu %}
  {% include "components/menu.html"%}
{% endblock %}

{% block contenido %}


<section class="header-slider-area">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
  

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="single-slide-item slide-1">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="single-slide-item-content">
                  <h2>Alcaldia Neiva</h2>
                  <p>
                    We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems. 
                  </p>
                 <a href="/pqr">
                  <button type="button" class="slide-btn">
                    Enviar PQRS
                    </button>
                 </a>
                 <a href="/oficinas">
                  <button type="button" class="slide-btn">
                    Ver oficinas
                    </button>
                 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="single-slide-item slide-2">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="single-slide-item-content">
                  <h2>
                    Atencios y Servicios
                  </h2>
                  <p>
                    We are the unique Consultancy Farm for your business solution, That is ready to take challenge and knockout your business problems.  
                  </p>
                  <a href="/pqr">
                    <button type="button" class="slide-btn">
                      Enviar PQRS
                      </button>
                   </a>
                   <a href="/oficinas">
                    <button type="button" class="slide-btn">
                      Ver Oficinas
                      </button>
                   </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="lnr lnr-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="lnr lnr-chevron-right"></span>
    </a>
  </div>
</section>


<section  class="we-do">
  <div class="container">
    <div class="we-do-details">
      <div class="section-header text-center">
        <h2>Tramistes y Servcios</h2>
      </div>
      <div class="we-do-carousel">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="single-we-do-box text-center">
              <div class="we-do-description">
                <div class="we-do-info">
                  <div class="we-do-img">
                    <img src="static/images/home/consultency.png" alt="image of consultency" />
                  </div>
                  <div class="we-do-topics">
                    <h2>
                      <a href="/pqr">
                        Formule su PQR
                      </a>
                    </h2>
                  </div>
                </div>
                <div class="we-do-comment">
                  <p>
                    es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="single-we-do-box text-center">
              <div class="we-do-description">
                <div class="we-do-info">
                  <div class="we-do-img">
                    <img src="static/images/home/busisness_grow.png" alt="image of business" />
                  </div>
                  <div class="we-do-topics">
                    <h2>
                      <a href="/tabla">
                        Estado de PQR
                      </a>
                    </h2>
                  </div>
                </div>
                <div class="we-do-comment">
                  <p>
                    es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="single-we-do-box text-center">
              <div class="we-do-description">
                <div class="we-do-info">
                  <div class="we-do-img">
                    <img src="static/images/home/support-logo.png" alt="image of support" />
                  </div>
                  <div class="we-do-topics">
                    <h2>
                      <a href="/tabla">
                        Informes
                      </a>
                    </h2>
                  </div>
                </div>
                <div class="we-do-comment">
                  <p>
                    es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><

<section class="about-us">
  <div class="container">
    <div class="about-us-content">
      <div class="row">
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-txt">
              <h2>¿Que es una PQR?</h2>
              <p>
                El Sistema de Peticiones, Quejas, Reclamos y Sugerencias (PQRS) es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio y seguir en el camino hacia la excelencia operativa.
              </p>
              <div class="project-btn">
                <a href="#"  class="project-view">Formular
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="single-about-us">
            <div class="about-us-img">
              <img src="https://tsmnoticias.com/wp-content/uploads/2020/05/Empresas-que-pueden-reactivarse-econ%C3%B3micamente-deber%C3%A1n-inscribirse-en-plataforma-de-Alcald%C3%ADa-de-Neiva-scaled.jpg" alt="about images">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section  class="statistics">
  <div class="container">
    <div class="statistics-counter "> 
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="static/images/counter/counter1.png" alt="counter-icon" />
          </div>
          <div class="statistics-content">
            <div class="counter">219</div>
            <h3>Dia del año</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="static/images/counter/counter3.png"  alt="counter-icon" />
          </div>
          <div class="statistics-content">
            <div class="counter">326</div>
            <h3>PQRS en tramite</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="static/images/counter/counter2.png" alt="counter-icon" />
          </div>
          <div class="statistics-content">
            <div class="counter">1526</div>
            <h3>PQRS Contestadas</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="single-ststistics-box">
          <div class="statistics-img">
            <img src="static/images/counter/counter4.png" alt="counter-icon" />
          </div>
          <div class="statistics-content">
            <div class="counter">856</div>
            <h3>Usuarios Felices</h3>
          </div>
        </div>
      </div>
    </div>
  </div><
</section>


<section class="clients">
  <div class="container">
    <div class="clients-area">
      <div class="owl-carousel owl-theme" id="client">
        <div class="item">
          <a href="#">
            <img src="https://www.alcaldianeiva.gov.co/Style%20Library/images/logos/01.jpg" alt="brand-image" />
          </a>
        </div><!--/.item-->
        <div class="item">
          <a href="#">
            <img src="https://www.alcaldianeiva.gov.co/Style%20Library/Images/logos/logoFdesa.png" alt="brand-image" />
          </a>
        </div><!--/.item-->
        <div class="item">
          <a href="#">
            <img src="https://www.alcaldianeiva.gov.co/Style%20Library/images/logos/SETP.png" alt="brand-image" />
          </a>
        </div><!--/.item-->
        <div class="item">
          <a href="#">
            <img src="https://www.alcaldianeiva.gov.co/Style%20Library/images/logos/01.jpg" alt="brand-image" />
          </a>
        </div><!--/.item-->
        <div class="item">
          <a href="#">
            <img src="https://www.alcaldianeiva.gov.co/Style%20Library/images/logos/13.png" alt="brand-image" />
          </a>
        </div><!--/.item-->
      </div><!--/.owl-carousel-->
    </div><!--/.clients-area-->
  </div><!--/.container-->

</section>


<section  class="team">
  <div class="container">
    <div class="team-details">
      <div class="project-header team-header text-left">
        <h2>Empleados y Oficinas</h2>
      </div>
      
      <div class="team-card">
        <div class="container">
          <div class="row">
            <div class="owl-carousel  team-carousel">
              {%for o in oficinas%}
              <div class="col-sm-3 col-xs-12">
                <div class="single-team-box team-box-bg-1">
                  <div class="team-box-inner">
                    <h3>{{o.username}}</h3>
                    <p class="team-meta">{{o.oficina}}</p>
                    <a href="/oficinas" class="learn-btn">
                      ver mas
                    </a>
                  </div>
      
                </div>
              </div>
              {%endfor%} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>






        
{% endblock %}

{% block piePagina %}
  {% include "components/footer.html" %}
{% endblock %}