<!--hm-footer start-->
<section class="hm-footer">
    <div class="container">
        <div class="hm-footer-details">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title ">
                            <div class="logo">
                                <a href="/">
                                    <img src="https://www.alcaldianeiva.gov.co/SiteAssets/V2/images/logo-footer-gov.svg" alt="logo" />
                                </a>
                            </div><
                        </div>
                        <div class="hm-foot-para">
                            <p>
                                es una herramienta que nos permite conocer las inquietudes y manifestaciones que tienen nuestros grupos de interés para que tengamos la oportunidad de fortalecer nuestro servicio
                            </p>
                        </div>
                        <div class="hm-foot-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li><!--/li-->
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!--/li-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-2 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>Navegar</h4>
                        </div>
                        <div class="footer-menu ">	  
                            <ul class="">
                                <li><a href="/" >Inicio</a></li>
                                <li><a href="/pqr">Formular PQR</a></li>
                                <li><a href="/tabla">Consultar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>Alcaldia de Neiva</h4>
                        </div>
                        <div class="hm-para-news">
                            <a href="/">
                                Servir a la comunidad, promover la prosperidad genera
                            </a>
                            <span>12th June 2017</span>
                        </div>
                        <div class="footer-line">
                            <div class="border-bottom"></div>
                        </div>
                        <div class="hm-para-news">
                            <a href="/">
                                Servir a la comunidad, promover la prosperidad genera
                            </a>
                            <span>2022</span>
                        </div>
                    </div>
                </div>
                <div class=" col-md-3 col-sm-6  col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>Gobernacion del Huilar</h4>
                        </div>
                        <div class="hm-foot-para">
                            <p class="para-news">
                                Servir a la comunidad, promover la prosperidad genera
                            </a>
                            </p
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="Ingresa Correo">
                            </div>
                            <div class="foot-email-subscribe">
                                <button type="button" >r</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="foot-copyright pull-left">
                    <p>
                        &copy; Duvan Rivera Montealegre
                         <a href="https://github.com/DuvanR11">Ver</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="foot-menu pull-right
                ">	  
                    <ul>
                        <li ><a href="#">legal</a></li>
                        <li ><a href="#">simple</a></li>
                        <li ><a href="#">Politica privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
    </div>

</footer>
